<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Povos Indígenas</title>
</head>
<body style="background-color: CadetBlue">
    <div >
        <!-- A tag body deve conter o conteúdo principal da sua página, como a imagem -->
        <img src="https://terradedireitos.org.br/wp-content/uploads/2016/09/Foto_Flavia-Londres_ANA-600x450.jpg" alt="indio"> 
        <h1>Povos Indígenas</h1>
        
        <p>Os povos indígenas, frequentemente referidos como indígenas ou povos originários, são grupos étnicos que têm uma história ancestral de ocupação e vínculo cultural com um determinado território. A diversidade de culturas, línguas, tradições e modos de vida desses povos é notável em todo o mundo. Aqui estão alguns aspectos importantes sobre os povos indígenas:</p>
        <a href="a"><button>Veja Mais</button></a>
        <br>
        <br>

        <!-- Seu conteúdo sobre os povos indígenas aqui -->

    </div class="info-box">
    <div class="info-box">
        <img src="https://viajarverde.com.br/wp-content/uploads/2020/10/foto-renata-telles-e1602619070787-810x516.jpg" alt="quilombola">
        <h1>Povos Quilombola</h1>
        <p>Os quilombolas são comunidades formadas por descendentes de africanos que fugiram da escravidão e estabeleceram assentamentos conhecidos como quilombos. Aqui está um resumo sobre os povos quilombolas:</p>
        <a href="e"><button>Veja Mais</button></a>
    </div class="info-box">
    <br>
    <br>
    <footer>
        <p>&copy; 2023 Meu Site. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
